
DOCKER_NETWORK=xxx  #in environment developer change this in DOCKER_NETWORK=rag-dev-network, in env staging here diventa DOCKER_NETWORK=rag-staging-network, in env production DOCKER_NETWORK=rag-prod-network
#e poi quando avvi il docker-compose docker creera automaticamente la rete indicata
DATA_ROOT=xxx   #/srv/data/dev/rag-system, /srv/data/staging/rag-system , /srv/data/prod/rag-system A SECONDA DELL'ENV in cui sei!
COMPOSE_PROJECT_NAME=xxx   #rag-system-dev, rag-system-staging, rag-system-prod A SECONDA DELL'ENV in cui sei!



APP_ENVIRONMENT=development          # development | staging | production
APP_DEBUG=false

OLLAMA_API_KEY=                      # vuoto per Ollama locale
OPENAI_API_KEY=                      # sk-...
GOOGLE_API_KEY=                      # per Gemini

LANGCHAIN_TRACING_V2=true
LANGSMITH_API_KEY=ls__xxx            # una sola volta, niente duplicati
LANGSMITH_PROJECT=competeSrl-RAGenterprise   # nome progetto su LangSmith
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com   #x region EU, x US region senza 'eu'

REDIS_PASSWORD=changeme              # CAMBIA in produzione con stringa lunga random
# URL usati DENTRO Docker (hostname = nome servizio docker-compose)
REDIS_URL=redis://:changeme@redis:6379/0       #usato come broker Celery
REDIS_CACHE_URL=redis://:changeme@redis:6379/1 #usato x caching RAG (DB separato)
#2 database Redis: 0 per Celery broker, 1 per cache RAG. Redis supporta fino a 16 database🔥(da 0 a 15) nello stesso processo, separati logicamente. Così un FLUSHDB sulla cache non tocca la coda Celery.

# URL usati FUORI Docker (sviluppo locale senza docker-compose)
# REDIS_URL=redis://:changeme@localhost:6379/0
# REDIS_CACHE_URL=redis://:changeme@localhost:6379/1

SQLSERVER_PASSWORD=YourStrong!Passw0rd   # CAMBIA in produzione

# Usati dentro Docker
SQLSERVER_HOST=sqlserver
SQLSERVER_PORT=1433
SQLSERVER_DB=RAGChat

# Usati fuori Docker (commenta sopra e decommenta sotto)
# SQLSERVER_HOST=localhost
# SQLSERVER_PORT=1433
# SQLSERVER_DB=RAGChat

QDRANT_API_KEY=        #lascia vuoto in dev, obbligatorio in prod🔥
QDRANT_URL=http://qdrant:6333        # dentro Docker
# QDRANT_URL=http://localhost:6333   # fuori Docker

BASE_URL_OLLAMA=http://srvai2k22:11434/  #http://ollama:11434  # dentro Docker
# BASE_URL_OLLAMA=http://localhost:11434  # fuori Docker

FLOWER_USER=admin
FLOWER_PASSWORD=changeme             # CAMBIA in produzione

JWT_SECRET_KEY=cambia-con-stringa-random-lunga-almeno-32-caratteri
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

#chainlit x chat UI develop
APP_USER=admin
APP_PASSWORD=admin
CHAINLIT_AUTH_SECRET=cambia-con-stringa-random-lunga   # senza virgolette


#web search w tavily (FREE 1000 req/mese, poi piani a pagamento!! quindi ok solo x develop)
TAVILY_API_KEY=                      # tvly-xxx, gratis 1000 req/mese


